<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BDJ" connectionString="metadata=res://*/BDJ.csdl|res://*/BDJ.ssdl|res://*/BDJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NBUDSVP\SQLEXPRESS;initial catalog=bdz12v_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bdz12v_1Entities" connectionString="metadata=res://*/BDJ.csdl|res://*/BDJ.ssdl|res://*/BDJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.123.16.169;initial catalog=bdz12v_1;persist security info=True;user id=SA;password=BDJdatabaza2024;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDJModel" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.123.16.169;initial catalog=bdz12v_1;persist security info=True;user id=SA;password=BDJdatabaza2024;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDJEntity" connectionString="metadata=res://*/BDJModel.csdl|res://*/BDJModel.ssdl|res://*/BDJModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.123.16.169;initial catalog=bdz12v_1;persist security info=True;user id=SA;password=BDJdatabaza2024;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>